.bread{
	padding-left:20px;
	background: white;
	height: 25px;
    padding-top: 10px;
    position:fixed;
    width:-webkit-fill-available;
}

.el-breadcrumb {
    font-size: 12px;
}

.body{
	margin:0;
}

.fundDetail{
    margin: 0px;
    padding-top:30px;
    width:100%;
    background-color: #f0f0f0;
}

.editHeader{
	text-align: left;
    padding-left: 35px;
    margin-top: 10px;
    padding-top:15px;
}


.tableborder{
	margin:15px;
	background-color: white;
    position: relative;
}

.el-form-item {
    margin-bottom: 17px;
}

.labelfont .el-form-item__label{
	font-size:12px;
}

.editInput>>>.el-form-item__label {
    font-size: 13px;
    color: grey;
}


